<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', {title: "Página no encontrada"})%>
<body class="not-found">
<div class="header-elements-ang header-logo">
        <a href="/"
          ><img
            src="/images/logo_transparent.png"
            alt="Imagen logo"
            class="logo"
        /></a>
      </div>
</body>
</html>