<header class="header">
  <div class="header-elements">
    <section>
      <!--Logo-->
      <div class="header-elements-ang header-logo">
        <a href="/"
          ><img
            src="/images/logo_transparent.png"
            alt="Imagen logo"
            class="logo"
        /></a>
      </div>

      <!--<a href="#" class="header-hamburguer-button">
              <i class="fas fa-bars"></i
            ></a>

      <div class="respmenu">
        <input type="checkbox" />
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
        <nav>
          <ul>
            <li>
              <a href="/users/register"
                >Creá tu cuenta <i class="fa-solid fa-id-card"></i
              ></a>
            </li>
            <li>
              <a href="/users/login"
                >Ingresá <i class="fa-solid fa-door-open"></i
              ></a>
            </li>
            <li>
              <a href="/products/create"
                >Crear producto <i class="fa-solid fa-file-circle-plus"></i
              ></a>
            </li>
             <li>
              <a href="/products/edit/id"
                >Editar producto <i class="fa-solid fa-file-pen"></i
              ></a>
            </li> 
            <li>
              <a href="#">Mi cuenta <i class="fa-solid fa-circle-user"></i></a>
            </li>
          </ul>
        </nav>
      </div>-->

      <!--Carrito-->
      <% if (locals.userLogged) { %>
      <div class="header-cart header-elements-ang">
        <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
      <% } %>

      <!--Buscador-->
      <div class="header-elements header-search">
        <form action="/search" method="GET" class="input-father">
          <input
            type="text"
            name="keywords"
            placeholder="Encontrá eso que querés"
            class="input"
          />
          <button type="submit" class="search-form_button">
            <i class="fas fa-search input-icon"></i>
          </button>
        </form>
        <!--<div class="input-father">
          <input
            type="search"
            placeholder="Encontrá eso que querés"
            class="input"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="input-icon"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"
            />
          </svg>
        </div>-->
      </div>
    </section>
  </div>

  <nav class="header-nav">
    <!-- <ul class="header-nav-left">
      <li>
        <a href="/users/register"
          >Creá tu cuenta <i class="fa-solid fa-id-card"></i
        ></a>
      </li>
      <li>
        <a href="/users/login">Ingresá <i class="fa-solid fa-door-open"></i></a>
      </li>
      <li>
        <a href="/users/profile/:id"
          >Mi cuenta <i class="fa-solid fa-circle-user"></i
        ></a>
      </li>
    </ul> 
    <ul class="header-nav-right">
      <li>
        <a href="/products/create"
          >Crear producto <i class="fa-solid fa-file-circle-plus"></i
        ></a>
      </li>
       <li>
        <a href="/products/edit/id"
          >Editar producto <i class="fa-solid fa-file-pen"></i
        ></a>
      </li> 
    </ul>-->

    <!--Nueva Barra-->
    <ul class="header-elements">
      <% if (locals.isLogged) { %>
      <li>
        <a href="/users/profile/:id" class="loguito">
          <img src=" <%= locals.userLogged.image %> " />
          Hola <%= locals.userLogged.first_name %>
        </a>
        <ul>
          <li>
            <a href="/users/profile/:id"
              >Mi cuenta <i class="fa-solid fa-circle-user"></i
            ></a>
          </li>
          <% if (locals.userLogged.categoria===0) { %>
           <li>
            <a href="/products/create"
              >Crear producto <i class="fa-solid fa-file-circle-plus"></i
            ></a>
          </li>
          <% } %>
          <li>
            <a href="/users/logout">Cerrar Sesión</a>
          </li>
        </ul>
      </li>
      <% } else { %>
      <li>
        <a href="/users/register"
          >Creá tu cuenta <i class="fa-solid fa-id-card"></i
        ></a>
      </li>
      <li>
        <a href="/users/login">Ingresá <i class="fa-solid fa-door-open"></i></a>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
