<div class="footer-father">
  <footer class="footer">
    <div class="footer-elements footer-logo">
      <a href="#"
        ><img
          src="/images/logo_transparent.png"
          alt="Imagen logo"
          class="logo-footer"
      /></a>
    </div>
    <div class="footer-elements footer-us">
      <h4>Sobre Nosotros</h4>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam ipsa aut obcaecati amet. Vitae repudiandae, facere dolorei.</p>
    </div>
    <div class="footer-elements footer-redes-sociales">
      <h4>Seguinos</h4>
      <a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a>
      <a href=""><i class="fa-brands fa-instagram"> Instagram</i></a>
      <a href=""><i class="fa-brands fa-twitter"></i> Twitter</a>
      <a href=""><i class="fa-brands fa-youtube"></i> YouTube</a>
    </div>
    <div class="footer-elements footer-copyright">
      <div>
        <i class="fa-solid fa-copyright"></i> 2022 <b>BeautyPoint</b> Todos los
        derechos Reservados
      </div>
    </div>
  </footer>
</div>
