<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/index.js"></script>
    <title>Inversiones</title>
  </head>
  <body>
    <h1 class="title">Bienvenidos al panel de seguimientos de inversiones</h1>

    <main>
      <p class="bienvenida"></p>
      <a href="https://translate.google.com.ar/">Link</a>
      <a href="https://translate.google.com.ar/">Link</a>
      <a href="https://translate.google.com.ar/">Link</a>
      <br>
      <label for="nombre">Nombre: </label>
      <input type="text" id="nombre">
      <br>
      <label for="provincias"> Provincias: </label>
      <ul id="provincias">
        <!-- <% for( let i = 0; i < listado.length ; i++ ) { %>
        <li><%= listado[i].nombre %></li>
        <% } %> -->
      </ul>
    </main>
  </body>
</html>
